@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Microsoft JhengHei;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  overflow-x: hidden;
}

header {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 10px 6px -6px #777;
}
header section.logo {
  color: rgb(80, 79, 79);
  flex: 2 1 400px;
  display: flex;
  align-items: center;
}
header section.logo h1 {
  font-size: 2.5rem;
}
header section.logo img {
  width: 4vw;
  height: 4vw;
}
header nav {
  flex: 5 1 500px;
}
header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
header nav ul li a {
  color: rgb(80, 79, 79);
  text-decoration: none;
  font-size: 1.35rem;
  transform: all 0.2s ease;
}
header nav ul li a:hover {
  color: rgba(12, 109, 184, 0.5);
  border-bottom: 3px solid rgba(12, 109, 184, 0.5);
}

main {
  width: 1240px;
  position: relative;
  margin: 50px auto;
}
main h1 {
  padding-top: 50px;
}

ul.list-card {
  list-style: none;
  margin-top: 30px;
}
ul.list-card li {
  display: flex;
  margin: 50px 0px;
}
ul.list-card li .img-card img {
  aspect-ratio: 1/1;
  width: 300px; /* 也可以換成任何你想要的寬度 */
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
ul.list-card li div.info-blk {
  margin: 0px 30px;
}
ul.list-card li div.info-blk h3 {
  background-color: rgb(234, 234, 234);
  padding: 5px 2px;
  border-radius: 3px;
}
ul.list-card li div.info-blk .middle {
  display: flex;
}
ul.list-card li div.info-blk .middle p.text {
  margin-top: 20px;
  text-align: justify;
  display: block;
  margin-right: 70px;
}
ul.list-card li div.info-blk .middle div.button {
  padding: 50px;
}
ul.list-card li div.info-blk .middle div.button button {
  width: 120px;
  font-weight: bolder;
}

section.weather div {
  width: 1200px;
  height: 2000px;
  border: solid black;
}

section.likeDiv {
  margin: 40px;
}
section.likeDiv h3 {
  text-align: center;
  color: #333; /* 字体颜色 */
  background-color: #f0f0f0; /* 背景颜色 */
  padding: 10px; /* 内边距 */
  border: 1px solid #ccc; /* 边框 */
  border-radius: 5px; /* 圆角 */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* 阴影效果 */
}
section.likeDiv .likeOne {
  display: flex;
  align-items: center;
}
section.likeDiv .likeOne .likeCard {
  width: 70vw;
  height: 40vh;
  margin: 3vw;
  background-color: #f7f7f7;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section.likeDiv .likeOne .likeCard .write {
  height: 35vh;
  width: 32vw;
  border: none;
  padding: 15px;
}
section.likeDiv .likeOne .likeCard .CardImgDiv {
  width: 17vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.likeDiv .likeOne .likeCard .CardImgDiv .CardImg img {
  aspect-ratio: 1/1;
  width: 13vw; /* 也可以換成任何你想要的寬度 */
  -o-object-fit: cover;
     object-fit: cover;
}
section.likeDiv .likeOne .likeCard .CardImgDiv a {
  text-decoration: none;
  text-align: center;
  line-height: 2em;
  display: inline-block;
  width: 16vw;
  height: 5vh;
  background-color: white;
  border-radius: 20px;
  font-size: 1.2em;
}
section.likeDiv .trash-button {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  color: #777;
}

.wrap {
  display: block;
  width: 100vw;
  height: 50vh;
  background: url("../images/夜景101.jpg") no-repeat center center;
  background-size: cover;
}

.layer {
  background: rgba(255, 255, 255, 0.5);
  width: 100vw;
  height: 50vh;
}

.layer .wrap {
  font-weight: bold;
  font-size: 200px;
  text-align: center;
  line-height: 50vh;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.remove {
  transform: scale(0);
  transition: all 0.5s ease;
}

.CardImg {
  background-position: center center;
  background-size: cover;
}

.Chiang-Kai-shek-Memorial-Hall .CardImg {
  background-image: url(../images/taipei-img-02.jpg);
}

.PalaceMuseum .CardImg {
  background-image: url(../images/taipei-img-01.jpg);
}

.taipei101 .CardImg {
  background-image: url(../images/台北101.jpg);
}

.AstronomicalMuseum .CardImg {
  background-image: url(../images/Astronomical\ Museum.jpg);
}

.ArtsMuseum .CardImg {
  background-image: url(../images/Arts\ Museum.jpg);
}

.ChildrenAmusementPark .CardImg {
  background-image: url(../images/ChildrenAmusementPark.jpg);
}

.Gaomei .CardImg {
  background-image: url(../images/taichung/Gaomei.jpg);
}

.Maple .CardImg {
  background-image: url(../images/taichung/Maple\ Garden.jfif);
}

.TaichungTheater .CardImg {
  background-image: url(../images/taichung/National\ Taichung\ Theater.jpg);
}

.Matsu .CardImg {
  background-image: url(../images/taichung/Matsu.jpg);
}

.NaturalScience .CardImg {
  background-image: url(../images/taichung/國立自然科學博物館.jfif);
}

.weatherDiv {
  background-color: rgb(238, 250, 249);
  border-radius: 30px;
  margin: 32px;
}
.weatherDiv div.weather {
  padding: 30px;
}
.weatherDiv div.weather .weatherIn p.txtsmall {
  font-size: 1rem;
  background-color: #ffffff;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px;
}
.weatherDiv div.weather .weatherIn img {
  width: 140px;
  margin: 14px;
}
.weatherDiv div.weather .weatherIn p {
  font-size: 25px;
  margin: 0;
}

.week {
  display: flex;
  justify-content: space-around;
  padding: 30px 0px;
}
.week img {
  width: 70px;
  display: block;
  margin: 10px;
}
.week p {
  margin: 0;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style each nav item */
.nav-item {
  margin: 0 15px;
}

/* Style the nav links */
.nav-link {
  display: block;
  padding: 10px 20px;
  color: #777;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  background-color: #aaaaaa;
  color: #fff;
}

#weatherStatus {
  font-size: small;
}

@media screen and (max-width: 700px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-x: hidden;
  }
  body main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    justify-content: center;
  }
  body hr {
    width: 100%;
  }
  body .weatherDiv {
    width: 90vw;
    padding: 10px 0px;
  }
  body .weatherDiv h1 {
    font-size: 1.5rem;
  }
  body .weatherDiv .weather {
    padding: 2px 20px;
  }
  body .weatherDiv .weather .weatherIn {
    text-align: center;
  }
  body .weatherDiv .weather .weatherIn p.txtsmall {
    font-size: 10px;
  }
  body .weatherDiv .weather .weatherIn p {
    font-size: 10px;
  }
  body .weatherDiv .weather .weatherIn img {
    width: 90px;
  }
  body .weatherDiv .week {
    display: grid;
  }
  body .weatherDiv .week .Weekweather {
    display: flex;
    margin: 5px;
    align-items: center;
  }
  body .weatherDiv .week .Weekweather p.txt {
    font-size: 10px;
  }
  body .weatherDiv .week .Weekweather img {
    width: 40px;
  }
  body .weatherDiv .week .Weekweather #weatherStatus {
    width: 60px;
    padding: 3px;
  }
  body .weatherDiv .week .Weekweather p {
    font-size: 12px;
    margin: 10px;
  }
  .bigtitle {
    width: 100%;
    text-align: center;
  }
  .layer span.wrap {
    font-size: 4rem;
  }
  .nav-tabs {
    width: 100%;
  }
  .nav-tabs .nav-item a.nav-link {
    padding: 10px;
  }
  ul.list-card {
    padding: 0px;
    width: 100%;
  }
  ul.list-card li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  ul.list-card li .img-card {
    display: flex;
    justify-content: center;
  }
  ul.list-card li .img-card img {
    width: 250px;
  }
  ul.list-card li div.info-blk {
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  ul.list-card li div.info-blk .middle div.button {
    padding: 0px;
  }
  ul.list-card li div.info-blk .middle p.text {
    margin-right: 0px;
    margin: 20px 50px;
  }
  ul.list-card li div.info-blk .bottom-h05 {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  ul.list-card li div.info-blk .static-desc p {
    padding: 20px;
  }
  ul.list-card li div.info-blk .info-title {
    margin: 0px;
    width: 300px;
  }
  ul.list-card li div.info-blk .middle {
    display: block;
  }
  section.spot h3 {
    width: 100%;
    text-align: center;
  }
  section.likeDiv {
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  section.likeDiv #noAttractionsMessage {
    margin: 20px;
  }
  section.likeDiv .trash-button {
    width: 50px;
    height: 50px;
  }
  section.likeDiv .likeOne {
    width: 100%;
  }
  section.likeDiv .likeOne .likeCard {
    flex-direction: column;
    height: 300px;
    justify-content: flex-start;
  }
  section.likeDiv .likeOne .likeCard .write {
    width: 220px;
    height: 100px;
  }
  section.likeDiv .likeOne .likeCard .CardImgDiv {
    flex-direction: row;
    width: auto;
    height: 18vh;
  }
  section.likeDiv .likeOne .likeCard .CardImgDiv a {
    font-size: small;
    width: 150px;
    height: 25px;
  }
  section.likeDiv .likeOne .likeCard .CardImgDiv .CardImg img {
    width: 20vw;
  }
}/*# sourceMappingURL=cityStyle.css.map */